In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from pandas_profiling import ProfileReport                          # Import Pandas Profiling (To generate Univariate Analysis) 
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high      
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
pd.set_option('display.float_format', lambda x: '%.5f' % x) 

#-------------------------------------------------------------------------------------------------------------------------------
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")

In [22]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from SQLAlchemy) (1.0.0)

In [24]:
!pip install PyMySQL
!pip install mysql-connector-python # not used though

Requirement already satisfied: PyMySQL in /opt/anaconda3/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.8/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.19.4)

In [2]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1'
db_connection = create_engine(db_connection_str)

In [3]:
df_gender = pd.read_sql('SELECT * FROM gender_age_train', con=db_connection)

In [4]:
df_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  74645 non-null  int64
 1   gender     74645 non-null  object
 2   age        74645 non-null  int64
 3   group      74645 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [5]:
df_gender.describe()  # .head()

                       device_id         age
count                74645.00000 74645.00000
mean      -749135388419837.00000    31.41034
std    5327149733911456768.00000     9.86873
min   -9223067244542181376.00000     1.00000
25%   -4617366812584264704.00000    25.00000
50%     -18413620249632024.00000    29.00000
75%    4636655899093149696.00000    36.00000
max    9222849349208140800.00000    96.00000

In [6]:
df_phone = dfGenderAge = pd.read_sql('SELECT * FROM phone_brand_device_model', con=db_connection)

In [8]:
df_phone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   device_id     87726 non-null  int64
 1   phone_brand   87726 non-null  object
 2   device_model  87726 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [9]:
df_phone.head()

             device_id phone_brand device_model
0  1877775838486905855        vivo          Y13
1 -3766087376657242966          小米         V183
2 -6238937574958215831        OPPO          R7s
3  8973197758510677470          三星        A368t
4 -2015528097870762664          小米      红米Note2

In [20]:
import base64
var1 = "华为"
u_var1= var1.encode('utf-8') #base64.b64decode(var1)
lst_brand_map = {"华为".encode('utf-8'):"Huawei"}
lst_brand_map = {"华为":"Huawei"}
print(lst_brand_map["华为"])

Huawei

In [21]:
#Brand Name	Brand English Mapping
lst_brand_map= {"华为":"Huawei",'小米':'Xiaomi','三星':'Samsung','vivo':'vivo',
                '魅族':'Meizu','酷派':'Coolpad','乐视':'LeEco','联想 ':'Lenovo'}
print(lst_brand_map)

{'华为': 'Huawei', '小米': 'Xiaomi', '三星': 'Samsung', 'vivo': 'vivo', '魅族': 'Meizu', '酷派': 'Coolpad', '乐视': 'LeEco', '联想 ': 'Lenovo'}